# 忽略所有 .rmskin 文件
*.rmskin

# 忽略所有字体文件
*.ttf
*.otf
*.ttc

# 忽略部分 @Resources 文件夹
/Skin/@Resources/Fonts
/Skin/@Resources/Images

# 忽略所有 VS 构建文件夹
.vs/
*[Dd]ebug*/
*[Rr]elease*/
[Bb]in/
[Oo]bj/
[Ll]og/

# 保留所有 .ini 和 .inc 文件
!*.ini
!*.inc
